@model BoutiqueShopTest.Models.ShopEntity

@{
    ViewBag.Title = "Show";
}

<html>
<head>
    <style>
        .change img{
            height:100px;
        }
        body{
            display:flex;
            justify-content:space-between;
            align-items:center;
        }
    </style>
</head>

<body>
    <h2>New Dress</h2>
    <div class="container change">
        <div class="text-center">
            <img src="https://images.unsplash.com/flagged/photo-1585052201332-b8c0ce30972f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" class="rounded" alt="dress">
            <p>Color:Brow</p>
            <p>Price:1222</p>
        </div>
    </div>
    <div class="container change">
        <div class="text-center">
            <img src="https://assets.ajio.com/medias/sys_master/root/20210403/bsM4/606867797cdb8c1f147522ca/-473Wx593H-461088032-blue-MODEL.jpg" class="rounded" alt="dress">
            <p>Color:Brow</p>
            <p>Price:1222</p>
        </div>
    </div>
    <div class="container change">
        <div class="text-center">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/11364432/2020/1/24/47d6a27d-2e5e-45e9-85ef-a9a5ebf417a11579852235194-SASSAFRAS-Women-Olive-Green-Printed-A-Line-Dress-73115798522-1.jpg" class="rounded" alt="dress">
            <p>Color:Brow</p>
            <p>Price:1222</p>
        </div>
    </div>

</body>
</html>
